* {
  box-sizing: border-box;
}

.page {
  font-size: 18px;
  color: #fff;

  &__body {
    background-color: #1f1f1f;
    color: #fff;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888; 
}
